*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 16vw;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 6px #03cea4;
    color: transparent;

}

.back-video{
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: -1;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #03cea4;
    opacity: 50%;
}

.dropdown-menu{
    background-color: #ffd166;
}

.offcanvas-header{
    background-color: #03cea4;
}

.container-lg{
    background-color: #fda79f;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 14pt;
}

#about{
    color: #FB4D3D;
    font-size: 29pt;
    font-weight: bolder;
}

.section-1{
    color: #01876c;
    font-family: Poppins sans-serif;
    font-size: 14pt;
    text-align: justify;
}

#section-1-header{
    margin-top: 5rem;
    color: #03cea4;
    font-weight: bolder;
    text-align: center;
    font-size: 29pt;
}

.transparent{
    height: 60%;
}


.p-width{
    max-width: 100%;
}

.blue-spectrum{
    color: #345995;
    font-family: Poppins sans-serif;
    font-size: 14pt;
    text-align: justify;
}

#spectrum{
    text-align: center;
    color: #345995;
    font-size: 29pt;
    font-weight: bolder;
    padding-bottom: 2em;
}

.yellow-needs{
    background-color: #ffe9b4;
    font-family: Poppins sans-serif;
    font-size: 14pt;
    text-align: justify;
    padding-bottom: 2em;
}

#support-needs{
    color: darkorange;
    font-size: 29pt;
    font-weight: bolder;
}


.visibility{
    text-align: center;
}
/*@media (min-aspect-ratio: 16/9){*/
/* .back-video{*/
/* width: 100%;*/
/* height: auto;*/

/* }*/

/*}@media (max-aspect-ratio: 16/9){*/
/* .back-video{*/
/* width: auto;*/
/* height: 100%;*/

/* }*/

/*}*/